/* 
* ==========================================================================
* Variables, Mixins, and Components 
* ==========================================================================
*/
$primary-color: rgb(197, 64, 104);
$secondary-color: rgba(51, 51, 51, 1);

@mixin list-items {
  text-decoration: none;
  list-style-type: none;
  color: $secondary-color;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin main-heading {
  margin-bottom: 2rem;
  font-family: 'Sanchez', serif;
  text-align: center;
}

.container {
  padding: 4rem 0;
}

.container-bg {
  background-color: #F5F5F5;
}

/* 
* ==========================================================================
* Global styles
* ==========================================================================
*/
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: $secondary-color;
}

h2 {
  @include main-heading;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

/* 
* ==========================================================================
* Header & Navigation
* ==========================================================================
*/
.home-nav {
  display: none;
}

.navbar {
  @include list-items();
  background-color: $primary-color;


  .nav-item {
    padding-left: 0rem;
  }

  .nav-link {
    color: #fff;
  }

  .nav-link:hover {
    color: rgba(252, 252, 252, .7);
  }

  .current {
    color: rgba(252, 252, 252, .7);
  }
}

/* 
* ==========================================================================
* Footer and footer navigation 
* ==========================================================================
*/
footer {
  padding: 2rem 2rem 1rem 2rem;
  background: rgb(51, 51, 51);
  color: rgb(246, 243, 237);
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-row a,
.footer-row p {
  color: rgb(246, 243, 237);
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.footer-col:nth-child(2) {
  text-align: right;
}

.social {
  text-align: center;
}

.social>a>i {
  padding: .5rem;
  font-size: 1.8rem;
  color: #fff;
}

.copyright {
  text-align: center;
}

/* 
* ==========================================================================
* Home Page Styles
* ==========================================================================
*/
#featured {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr 1fr 1fr 14fr 3fr;
  grid-template-rows: 2fr 1fr 2fr 3fr 1fr 1fr;
  height: 92vh;

  #aside-l {
    background-color: $primary-color;
    grid-column: 1/4;
    grid-row: 1/7;
  }

  #aside-r {
    display: grid;
    grid-column: 4/8;
    grid-row: 1/7;
  }

  .line {
    grid-column: 1/1;
    grid-row: 2/6;
    border-left: 1px solid #fff;
    margin: 4rem;
  }

  .welcome {
    grid-column: 1/1;
    grid-row: 4/6;

    h1 {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: 'Quicksand', sans-serif;
      letter-spacing: 3px;
      font-weight: 200;
      color: #fff;
      background-color: $primary-color;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 3rem;
    }
  }

  .sml-img {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .lg-img {
    grid-column: 2/5;
    grid-row: 2/6;
    object-fit: cover;
  }

  h2 {
    font-family: 'Sanchez', Courier, serif;
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .header-style {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgb(244, 231, 90) 55%);
    display: inline;
  }

  .header-style .cursor {
    opacity: 1;
    animation: blink-animation 0.7s infinite;
  }

  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }

  .intro {
    grid-column: 6/8;
    grid-row: 3/5;
  }

  ul {
    padding: 0;
    margin: 7rem 0 0 0;
    @include list-items();
    grid-column: 6/7;
    grid-row: 5/6;

    li {
      padding: .25rem;
      font-size: 1.25rem;

      .nav-btn {
        color: $secondary-color;
      }
    }
  }

  .social {
    margin-top: 1rem;
    grid-column: 7/8;
    grid-row: 1/2;

    a>i {
      padding: .25rem;
      font-size: 1.9rem;
      color: $secondary-color;
    }
  }
}

/* 
* ==========================================================================
* Recent Projects Styles
* ==========================================================================
*/
#gallery {
  h2 {
    @include main-heading();
  }

  .gallery-links {
    margin: 0 auto;
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;

    .gallery-item {
      margin: 0;
      padding: 0;
      position: relative;

      img {
        object-fit: cover;
      }

      .overlay-text {
        line-height: 1.25rem;
        text-align: center;
        max-width: 100%;
        height: auto;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .9);
        color: #fff;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;

        .text-box {
          padding: 1rem;

          h4 {
            line-height: 1;
          }
        }
      }
    }

    .gallery-item:last-of-type {
      border-right: 1pt solid darkgrey;
      border-bottom: 1pt solid darkgrey;
    }

    .gallery-item:hover>a>.overlay-text {
      visibility: visible;
    }

    .gallery-item:last-of-type:hover {
      border: none;
    }
  }
}

/* 
* ==========================================================================
* About Styles
* ==========================================================================
*/
#about {
  margin: 0 auto;
  width: 70%;

  h2 {
    @include main-heading();
  }

  p {
    text-align: center;
  }
}

#skills {
  h2 {
    @include main-heading();
  }

  .skill-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h4 {
      color: $primary-color;
      @include list-items;
      margin-top: 2rem;
      margin-bottom: .5rem;
      font-size: 1.3rem;
    }
  }
}

/* 
* ==========================================================================
* Contact Styles
* ==========================================================================
*/
#contact {
  .contact-form {
    margin: 0 auto;
    width: 40%;
    background-color: rgb(197, 64, 104);

    form {
      padding: 4rem;
      color: #fff;

      h2 {
        @include main-heading();
      }

      .form-group {
        margin: 1rem 2rem;
      }

      .form-group:last-of-type {
        padding-bottom: 2rem;
      }
    }
  }
}

/* 
* ==========================================================================
* Diargram Page Styles
* ==========================================================================
*/
#diagrams {
  h2 {
    @include main-heading();
    text-align: center;
  }

  .diagram-gallery {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    text-align: center;

    .odd {
      flex: 1 1 60%;
    }

    .even {
      flex: 1 1 30%;
    }

    .diagram-item img {
      width: 100%;
      height: auto;
    }
  }
}


/* 
* ==========================================================================
* Media Queries
* ==========================================================================
*/

@media(max-width: 1280px) {
  .navbar {
    font-size: .8rem;
  }
  #featured {
    #into {
      sml-img {
        display: none;
      }
    }

    .header-style {
      font-size: 2.2rem;
    }

    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-nav {
    display: contents;
  }

  .lg-nav {
    display: none;
  }
  .social {
    display: none;
  }
  .container {
    padding-top: 3rem;
    padding-bottom: 2rem;
    ;
  }

  #featured {

    #aside-l {
      grid-column: 1/2;
    }

    .social {
      margin-top: .5rem;
      grid-column: 6/span 8;
      grid-row: 1/2;
      color: black;
      text-align: right;
    }

    .sml-img {
      display: block;
    }

    .lg-img {
      display: none;
    }

    .intro {
      grid-column: 2/8;

      .header-style {
        background: none;
        display: inherit;
        padding: 2rem;
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    ul {
      grid-column: 3/7;

      li {
        font-size: 1rem;
      }
    }
  }

  #gallery {
    .gallery-links {
      .gallery-item {
        margin: .5rem;
      
        .text-box {
          padding: .5rem;
        }
      }

    }

  }
  .gallery-item:nth-child(5) {
      border: 1px solid lightgray;
  }
  .gallery-item:nth-child(9) {
    border: 1px solid lightgray;
}
  #skills {
    .skill-columns {
      justify-content: center;

      article {
        width: 80%;

        h4 {
          font-size: 1rem;
        }
      }

      article:last-of-type {
        text-align: left;
      }
    }
  }

  #contact {
    .contact-form {
      width: 90%;

      form {
        padding: 1rem;

        h2 {
          margin: 0;
          padding: 2rem 0 0 0;
        }
      }
    }

  }

  #diagrams {
    .diagram-gallery {
      padding: 1rem 0;
      gap: 1rem;
    }
  }

  .footer-row {
    padding: 0;
  }
}

@media (max-width: 576px) {

  #aside-r {
    display: none;
  }

  #gallery {
    width: 60%;
  }

  #diagrams {
    h2 {
      margin: 0 1.5rem 1rem 1.5rem;
    }

    .diagram-gallery .odd,
    .diagram-gallery .even {
      flex-basis: 100%;
      padding: 3rem;
    }
  }
}