html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #333333;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  padding-top: 5rem;
  margin-bottom: 3rem;
}

nav {
  text-decoration: none;
  list-style-type: none;
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #c54068;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: rgba(252, 252, 252, 0.7);
}

.diagrams .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diagrams .gallery .diagram-gallery {
  margin: 1rem;
  width: 30%;
}

.diagrams .gallery .diagram-gallery:hover {
  -webkit-box-shadow: 5px 5px 5px 5px #a3a3a3;
          box-shadow: 5px 5px 5px 5px #a3a3a3;
}

.diagrams .gallery .diagram-gallery img {
  width: 100%;
  height: auto;
  padding: 2rem;
}

.diagrams .gallery .desc {
  padding: 2rem;
  text-align: center;
}

#featured {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 4fr 1fr 1fr 14fr 3fr;
      grid-template-columns: 3fr 3fr 4fr 1fr 1fr 14fr 3fr;
  -ms-grid-rows: 2fr 1fr 2fr 3fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 2fr 3fr 1fr 1fr;
  height: 92vh;
}

#featured #aside-l {
  background-color: #c54068;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

#featured #aside-r {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

#featured .line {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  border-left: 1px solid #fff;
  margin: 4rem;
}

#featured .welcome {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

#featured .welcome h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  color: #fff;
  background-color: #c54068;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

#featured img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  -o-object-fit: cover;
     object-fit: cover;
}

#featured h2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  font-family: 'Sanchez', Courier, serif;
  font-size: 2.6rem;
  line-height: 4rem;
}

#featured h2 span {
  background: #f4e75a;
  padding: 0 1rem;
}

#featured .intro {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

#featured ul {
  padding: 0;
  margin: 7rem 0 0 0;
  text-decoration: none;
  list-style-type: none;
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

#featured ul li {
  padding: .25rem;
}

#featured ul li .nav-btn {
  color: #333333;
}

#featured .social {
  margin-top: 1rem;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#featured .social a > i {
  padding: .25rem;
  font-size: 1.9rem;
  color: #333333;
}

#gallery {
  margin-top: 4rem;
}

#gallery h2 {
  margin-bottom: 1.3rem;
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-bottom: 2rem;
}

#gallery .gallery-links {
  margin: 0 auto;
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gallery .gallery-links .gallery-item {
  margin: 0;
  width: 33%;
  position: relative;
}

#gallery .gallery-links .gallery-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .gallery-links .gallery-item .overlay-text {
  padding: 2rem;
  text-align: center;
  max-width: inherit;
  height: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#gallery .gallery-links .gallery-item:hover > a > .overlay-text {
  visibility: visible;
}

#about {
  margin: 0 auto;
  width: 80%;
}

#about h2 {
  margin-bottom: 1.3rem;
  font-family: 'Sanchez', serif;
  text-align: center;
}

#about p {
  text-align: center;
}

#skills h2 {
  margin-bottom: 1.3rem;
  font-family: 'Sanchez', serif;
  text-align: center;
}

#skills .skill-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills .skill-columns article h4 {
  text-decoration: none;
  list-style-type: none;
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.3rem;
}

#skills .skill-columns article:last-of-type {
  text-align: center;
}

#contact .myform {
  margin: 0 auto;
  width: 40%;
  background-color: #c54068;
}

#contact .myform form {
  padding: 4rem;
  color: #fff;
}

#contact .myform form h2 {
  margin-bottom: 1.3rem;
  font-family: 'Sanchez', serif;
  text-align: center;
}

#contact .myform form .form-group {
  margin: 1rem 2rem;
}

#contact .myform form .form-group:last-of-type {
  padding-bottom: 2rem;
}

footer {
  margin-top: 4rem;
  padding: 2rem 2rem 1rem 2rem;
  background: #333333;
  color: #f6f3ed;
}

.footer-row {
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-row a,
.footer-row p {
  color: #f6f3ed;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.footer-col:nth-child(2) {
  text-align: right;
}

.social {
  text-align: center;
}

.social > a > i {
  padding: .5rem;
  font-size: 1.8rem;
  color: #fff;
}

.copyright {
  text-align: center;
}

@media (max-width: 800px) {
  p,
  li {
    font-size: 12px;
  }
  h2,
  h4 {
    font-size: 1.1rem;
  }
  .container {
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
  #featured #aside-l {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  #featured .social {
    margin-top: .5rem;
    -ms-grid-column: 6;
    -ms-grid-column-span: 8;
    grid-column: 6/span 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: black;
    text-align: right;
  }
  #featured img {
    display: none;
  }
  #featured .intro {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  #featured .intro h2 {
    font-size: 2rem;
  }
  #featured ul {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  #gallery .gallery-links {
    width: 80%;
  }
  #gallery .gallery-links .gallery-item {
    width: 50%;
  }
  #gallery .gallery-links .gallery-item:hover > a > .overlay-text {
    visibility: none;
  }
  #gallery .gallery-links .gallery-item6 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #gallery .gallery-links .gallery-item4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #skills .skill-columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #skills .skill-columns article {
    width: 80%;
  }
  #skills .skill-columns article h4 {
    font-size: 1rem;
  }
  #skills .skill-columns article:last-of-type {
    text-align: left;
  }
  #contact .myform {
    width: 90%;
  }
  #contact .myform form {
    padding: 2rem;
  }
  .footer-row {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */